.sanpham{
	height: 200px;
	width: 100%;
}
img{ 
	float: left; 
	width: 200px;
	height: 200px;
	padding-right: 20px;
}
.gia{  
	color: rgb(108,143,99);
	font-size: 15pt;
	font-weight: bold;
	font-style: italic;
}
p{
	font-style: italic;
}
h1{
	color:rgb(71,173,211);
}
h1>a:link{
	text-decoration: none;
	color: rgb(106 26 139);
}
a:link{
	text-decoration: none;
	color:black;
	padding: 100px;
}